# Ignore .env file containing local configuration and secrets
.env
.env.bak
.env.rollback.*

# Ignore update artifacts
backups/
logs/

# Ignore node_modules folder
node_modules/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Docker files
.docker/

# Ignore logs
*.log
